# compiled output
/dist
/node_modules

# Logs    //忽略所有.log文件
Logs
*.log
npm-debug.log*

#DS
.DS_Store

#IDE - VSCode//忽略所有VSCode的文件//!不忽略
.VSCode/*
!.VSCode/settings.json
!.VSCode/tasks.json
!.VSCode/launch.json
!.VSCode/extensions.json

#App 不想在项目的代码仓库里包含这些环境变量信息
.env*